html {
  min-height: 100%;
}

body {
  text-align: center;
  background-color: #ffffff;
  /* min-height: 100%; */
  /* display: flex;
  justify-content: center; */
}

th {
  font-size: clamp(0.5em, 1em + 3vw, 1.5em);
  text-align: center;
  padding-bottom: 10px;
  padding-top: 5px;
  width: 200px;
  background-color: transparent;
}

td {
  font-size: clamp(0.5em, 1em + 3vw, 2em);
  height: 55px;
  background-color: rgba(9, 9, 9, 0.857);
  border-bottom: 1px solid black;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  padding-bottom: 1.5px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  color: white;
}

table {
  width: 25%;
  height: 30%;
  left: 50%;
  top: 55%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.autoResize {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  justify-content: center;
  transform: translate(50%, -10%);
  width: 50%;
}

@media (min-width: 1500px) {
  td {
    font-size: clamp(0.5em, 1em + 3vw, 2.5em);
    height: 65px;
    background-color: rgba(0, 0, 0, 0.857);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    padding-bottom: 1.5px;
    border-top-left-radius: 52.5px;
    border-bottom-right-radius: 52.5px;
    color: white;
  }
  th {
    font-size: clamp(0.5em, 1em + 3vw, 2.5em);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 300px;
    background-color: transparent;
  }
  .autoResize {
    position: relative;
    justify-content: center;
    transform: translate(75%, -10%);
    width: 40%;
  }
}
